@model Dictionary<LeilaoModel, ProdutoModel>
@{
    ViewData["Title"] = "Home Page";
}


<style>
    {
        font-family: 'Roboto', sans-serif;
    }

    .row-product {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px; /* Espaçamento entre os elementos */
    }

    .product-card {
        width: 85%;
        position: relative;
        box-shadow: 0 2px 7px #dfdfdf;
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 2%;
        background: #fafafa;
        float: left;
        padding: 10px;
    }

    .titulo {
        margin-top: 10px;
        text-align: center;
    }

    .titulo:hover{
        text-decoration: underline;
        color: black;
    }

    .product-tumb {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;

        padding: 50px;
        background: #f0f0f0;
    }

        .product-tumb img {
            width: 229px;
            height: 120px;
        }

    .product-details {
        padding: 10px;
    }

    .product-catagory {
        display: flex;
        font-size: 10px;
        font-weight: 700;
        margin-bottom: 10px;
        text-align: center;
        box-sizing: border-box;
        justify-content: space-around;
    }

    .product-details-a {
        display: block;
        color: #363636;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .product-details p {
        text-align: center;
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .solid-dark-button:hover {
        background-color: #black;
        color:honeydew;
    }

</style>

<h2 style="text-align: center; font-weight: bold">Leilões Ativos</h2>

<div class="row-product">
    @foreach (var pair in Model)
    {
        <div class="product-card">
            <div class="titulo">
                <h5><a asp-controller="Leilao" asp-action="getLeilao" asp-route-id="@pair.Key.Id" style="color: black;">@pair.Value.Titulo</a></h5>
            </div>
            <div class="product-tumb">
                <img src="@Url.Content("~/" + pair.Value.Imagem)" style="width: 228px;height: 120px;" alt="tazonde iamgem">
            </div>
            <div class="product-details">
                <div class="product-catagory">
                    <span style="text-transform: uppercase">@pair.Value.Tipologia</span>
                    <span>@pair.Value.AreaUtil m²</span>
                    <span>@pair.Value.Localizacao</span>
                </div>
                <h4>
                    @if(pair.Value.PrecoBase == pair.Key.Quantia)
                    {
                        <a class="product-details-a">Preço Atual: -------- </a>
                    }
                    else
                    {
                        <a class="product-details-a" style="color: black">Preço Atual: @pair.Key.Quantia €</a>
                    }
                </h4>
                <p>Termina em @CalcularTempoRestante(pair.Key.DataFinal)</p>
                <div>
                    <a asp-controller="Leilao" asp-action="getLeilao" asp-route-id="@pair.Key.Id" class="solid-dark-button btn btn-dark btn-block w-100">Licite agora</a>
                </div>
            </div>
        </div>

    }
</div>

@functions {
    public string CalcularTempoRestante(DateTime dataFinal)
    {
        var agora = DateTime.Now;
        var tempoRestante = dataFinal - agora;

        if (tempoRestante > TimeSpan.Zero)
        {
            // Formatação do tempo restante
            return $"{tempoRestante.Hours:D2}:{tempoRestante.Minutes:D2}:{tempoRestante.Seconds:D2}";
        }
        else
        {
            return "Tempo Encerrado";
        }
    }
}