@model Dictionary<UserModel, Dictionary<LeilaoModel, Dictionary<ProdutoModel, UserModel>>>
@{
    Layout = "_Layout";
    ViewData["Tittle"] = "Perfil";
}

<head>
    <title>Profile</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            line-height: 1.5;
            font-family: 'Poppins', sans-serif;
        }


        h2,
        h3,
        a {
            color: #34495e;
        }

        a {
            text-decoration: none;
        }

        .main-nav a {
            padding: 10px 15px;
            text-transform: uppercase;
            text-align: center;
            display: block;
        }

        .main-nav a {
            color: #34495e;
            font-size: .99em;
        }

            .main-nav a:hover {
                color: #718daa;
            }

        /* Sidenav */
        .sidenav-semProdutos {
            background-color: #efefef;
            color: #333;
            border-bottom-right-radius: 25px;
            height: 86%;
            overflow-x: hidden;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            margin-left: -200px;
            margin-top: -16px;
            margin-bottom: -90px;
        }

        .sidenav {
            background-color: #efefef;
            color: #333;
            border-bottom-right-radius: 25px;
            height: 86%;
            overflow-x: hidden;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            margin-left: -200px;
            margin-top: -16px;
            margin-bottom: -90px;
        }

        .profile {
            margin-bottom: 20px;
            margin-top: -12px;
        }

            .profile img {
                box-shadow: 0px 0px 5px 1px grey;
                margin-top: 40px;
            }

        .name {
            font-size: 22px;
            font-weight: bold;
            padding-top: 20px;
        }

        .job {
            font-size: 13px;
            font-weight: bold;
            padding-top: 2px;
            color: #818181;
        }

        .loc {
            font-size: 15px;
            font-weight: bold;
            padding-top: 15px;
        }

        .url, hr {
            text-align: center;
        }

            .url hr {
                width: 100%;
            }

            .url a {
                color: #818181;
                display: block;
                font-size: 20px;
                margin: 10px 0;
                padding: 6px 8px;
                text-decoration: none;
                text-transform: uppercase;
            }

                .url a:hover, .url .active {
                    color: #454444;
                }

        /* End */

        /* Main */

        .main {
            padding-left: 150px;
            width: 100%;
        }

            .main h2 {
                color: #333;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 32px;
                margin-bottom: 10px;
            }

            .main .card {
                background-color: #efefef;
                border-radius: 18px;
                box-shadow: 1px 1px 8px 0 grey;
                height: auto;
                margin-bottom: 30px;
                padding: 50px 0 50px 50px;
                width: 100%;
            }

                .main .card table {
                    border: none;
                    font-size: 16px;
                    height: 270px;
                    width: 80%;
                }

        .edit {
            position: absolute;
            color: #fff;
            right: 14%;
        }

        .container-section {
            display: flex;
        }

        .top {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
        }

            .top a {
                background-color: black;
                color: white;
                padding: 8px 8px;
                border-radius: 10px;
            }

        .produto-display {
            border: 2px solid black;
            padding: 5px;
            border-radius: 10px;
            display: flex;
            margin-bottom: 20px;
        }

        .produto-texto {
            margin: 0 20px;
            width: 500px;
        }

        .produto-titulo {
            font-size: 16px;
            font-weight: bold;
        }

        .produto-localizacao {
            font-size: 13px;
        }

        .produto-descricao {
            color: #62676B;
            font-size: 15px;
            width: 85%;
        }

        .produto-info-preco {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
            width: 40%;
        }

        .teste {
            display: flex;
        }

        .link-leilao {
            transition: color 0.3s ease;
        }


            .link-leilao:hover {
                text-decoration: underline;
                color: #281A1A;
            }

        .data {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }

    </style>
</head>


<body>
    <section class="container-section">

        @foreach (var pair in Model)
        {
            if (pair.Value != null && pair.Value.Any() && pair.Value.First().Value != null && pair.Value.First().Value.Any())
                    {
                if(Model.First().Key.UserEnum == Online_Auctions_LI4.enums.UserEnum.Licitador)
                {
                    <div class="sidenav">
                        <div class="profile" style="text-align: center;align-items: center;">
                            <img src="~/istockphoto-1223671392-612x612.jpg" alt="" width="150" height="150">

                            <div class="name">
                                @Model.First().Key.Name
                            </div>
                            <div class="job">
                                @Model.First().Key.Username
                            </div>
                            <div class="loc">
                                @Model.First().Key.morada
                            </div>
                        </div>

                        <div class="sidenav-url">
                            <div class="url" style="margin-top: 90px;">
                                <hr align="center">
                                <a asp-controller="Profile" asp-action="Editar" asp-route-id="@Model.First().Key.Id">Editar Perfil</a>
                                <hr align="center">
                            </div>
                            <div class="url">
                                <a href="#settings">Log Out</a>
                                <hr align="center">
                            </div>
                        </div>
                    </div>
                }
                else if(Model.First().Key.UserEnum == Online_Auctions_LI4.enums.UserEnum.Admin)
                {
                    <div class="sidenav">
                        <div class="profile" style="text-align: center;align-items: center;">
                            <img src="~/istockphoto-1223671392-612x612.jpg" alt="" width="150" height="150">

                            <div class="name">
                                @Model.First().Key.Name
                            </div>
                            <div class="job">
                                @Model.First().Key.Username
                            </div>
                            <div class="loc">
                                @Model.First().Key.morada
                            </div>
                        </div>

                        <div class="sidenav-url">
                            <div class="url" style="margin-top: 90px;">
                                <hr align="center">
                                <a asp-controller="Profile" asp-action="Editar" asp-route-id="@Model.First().Key.Id">Editar Perfil</a>
                                <hr align="center">
                            </div>
                            <div class="url">
                                <a asp-controller="Profile" asp-action="Painel" asp-route-id="@Model.First().Key.Id">Painel</a>
                            </div>
                            <div class="url">
                                <hr align="center">
                                <a href="#settings">Log Out</a>
                                <hr align="center">
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="sidenav">
                        <div class="profile" style="text-align: center;align-items: center;">
                            <img src="~/istockphoto-1223671392-612x612.jpg" alt="" width="150" height="150">

                            <div class="name">
                                @Model.First().Key.Name
                            </div>
                            <div class="job">
                                @Model.First().Key.Username
                            </div>
                            <div class="loc">
                                @Model.First().Key.morada
                            </div>
                        </div>

                        <div class="sidenav-url">
                            <div class="url" style="margin-top: 90px;">
                                <hr align="center">
                                <a asp-controller="Profile" asp-action="Editar" asp-route-id="@Model.First().Key.Id">Editar Perfil</a>
                                <hr align="center">
                            </div>
                            <div class="url">
                                <a href="#settings">Produtos</a>
                                <hr align="center">
                            </div>
                            <div class="url">
                                <a href="#settings">Log Out</a>
                                <hr align="center">
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                if (Model.First().Key.UserEnum == Online_Auctions_LI4.enums.UserEnum.Licitador)
                {
                    <div class="sidenav">
                        <div class="profile" style="text-align: center;align-items: center;">
                            <img src="~/istockphoto-1223671392-612x612.jpg" alt="" width="150" height="150">

                            <div class="name">
                                @Model.First().Key.Name
                            </div>
                            <div class="job">
                                @Model.First().Key.Username
                            </div>
                            <div class="loc">
                                @Model.First().Key.morada
                            </div>
                        </div>

                        <div class="sidenav-url">
                            <div class="url" style="margin-top: 90px;">
                                <hr align="center">
                                <a asp-controller="Profile" asp-action="Editar" asp-route-id="@Model.First().Key.Id">Editar Perfil</a>
                                <hr align="center">
                            </div>
                            <div class="url">
                                <a href="#settings">Log Out</a>
                                <hr align="center">
                            </div>
                        </div>
                    </div>
                }
                else if (Model.First().Key.UserEnum == Online_Auctions_LI4.enums.UserEnum.Admin)
                {
                    <div class="sidenav">
                        <div class="profile" style="text-align: center;align-items: center;">
                            <img src="~/istockphoto-1223671392-612x612.jpg" alt="" width="150" height="150">

                            <div class="name">
                                @Model.First().Key.Name
                            </div>
                            <div class="job">
                                @Model.First().Key.Username
                            </div>
                            <div class="loc">
                                @Model.First().Key.morada
                            </div>
                        </div>

                        <div class="sidenav-url">
                            <div class="url" style="margin-top: 90px;">
                                <hr align="center">
                                <a asp-controller="Profile" asp-action="Editar" asp-route-id="@Model.First().Key.Id">Editar Perfil</a>
                                <hr align="center">
                            </div>
                            <div class="url">
                                <a asp-controller="Profile" asp-action="Painel" asp-route-id="@Model.First().Key.Id">Painel</a>
                            </div>
                            <div class="url">
                                <hr align="center">
                                <a href="#settings">Log Out</a>
                                <hr align="center">
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="sidenav">
                        <div class="profile" style="text-align: center;align-items: center;">
                            <img src="~/istockphoto-1223671392-612x612.jpg" alt="" width="150" height="150">

                            <div class="name">
                                @Model.First().Key.Name
                            </div>
                            <div class="job">
                                @Model.First().Key.Username
                            </div>
                            <div class="loc">
                                @Model.First().Key.morada
                            </div>
                        </div>

                        <div class="sidenav-url">
                            <div class="url" style="margin-top: 90px;">
                                <hr align="center">
                                <a asp-controller="Profile" asp-action="Editar" asp-route-id="@Model.First().Key.Id">Editar Perfil</a>
                                <hr align="center">
                            </div>
                            <div class="url">
                                <a href="#settings">Produtos</a>
                                <hr align="center">
                            </div>
                            <div class="url">
                                <a href="#settings">Log Out</a>
                                <hr align="center">
                            </div>
                        </div>
                    </div>
                }
            }
        }

        <!-- End -->
        <!-- Main -->
        <div class="main">
            <div class="filter">
            </div>
            <h2 style="margin-bottom: 50px;">Histórico De Leilões</h2>
            @if (Model != null)
            {
                @foreach (var pair in Model)
                {
                    if (pair.Value.Any() && pair.Value.First().Value.Any())
                    {
                        var produto = pair.Value.First().Value.First().Key;
                        var leilao = pair.Value.First().Key;
                        var userVencedor = pair.Value.First().Value.First().Value;

                        if (leilao.Status == Online_Auctions_LI4.enums.LeilaoEnum.Iniciado)
                        {
                            <div class="produto-display">
                                <div class="produto-image">
                                    @if (!string.IsNullOrEmpty(produto.Imagem))
                                    {
                                        <img src="@Url.Content("~/" + produto.Imagem)" style="width: 228px;height: 150px;margin: 3px 3px 0px" alt="tazonde iamgem">
                                    }
                                    else
                                    {
                                        <p>Imagem não encontrada</p>
                                    }
                                </div>

                                <div class="teste">
                                    <div class="produto-texto">
                                        <div class="produto-titulo">
                                            <a asp-controller="Leilao" asp-action="getLeilao" asp-route-id="@leilao.Id" class="link-leilao">@produto.Titulo</a>
                                        </div>

                                        <div class="produto-localizacao">
                                            @produto.Localizacao
                                        </div>

                                        <div class="produto-descricao">
                                            @AjustarSemiDescricao(produto.Descricao)
                                        </div>


                                    </div>



                                    <div class="produto-info-preco">

                                        @if (leilao.Status == Online_Auctions_LI4.enums.LeilaoEnum.Iniciado && CalcularTempoRestante(leilao.DataFinal) != "Tempo Encerrado")
                                        {
                                            <div class="produto-preco-base" style="font-size: 15px;margin-bottom:8px; margin-top: 5px;">
                                                @if (@leilao.Quantia == @produto.PrecoBase)
                                                {
                                                    <p>Lance Atual: ----</p>
                                                }
                                                else
                                                {
                                                    <h6 style="font-weight: bold;">Lance Atual: @leilao.Quantia €</h6>
                                                }
                                            </div>

                                            <div class="produto-preco-base" style="font-size: 10px; margin-bottom: 10px;">
                                                Tempo Restante: @CalcularTempoRestante(leilao.DataFinal)
                                            </div>

                                            <div class="produto-botao">
                                                <a asp-controller="Leilao" asp-action="getLeilao" asp-route-id="@leilao.Id" class="btn btn-dark btn-block w-75" style="margin-top: 20px; font-size: 11px;" type="submit">A DECORRER...</a>
                                            </div>
                                        }
                                        @if (CalcularTempoRestante(leilao.DataFinal) == "Tempo Encerrado")
                                        {
                                            <div class="produto-preco-base" style="font-size: 14px; margin-top: 5px;">
                                                @if (@leilao.Quantia == @produto.PrecoBase)
                                                {
                                                    <p style="font-weight: bold;">Lance Vencedor: ----</p>
                                                }
                                                else
                                                {
                                                    <h6 style="font-weight: bold;">Lance Vencedor: @leilao.Quantia €</h6>
                                                }
                                            </div>

                                            <div class="produto-preco-base" style="font-size: 12px;">
                                                @if (@leilao.Quantia == @produto.PrecoBase)
                                                {
                                                    <p style="font-weight: bold;">Vencedor: Sem Licitadores</p>
                                                }
                                                else
                                                {
                                                    <p style="font-weight: bold;">Vencedor: @userVencedor.Username</p>
                                                }
                                            </div>

                                            <div class="produto-botao">
                                                <a asp-controller="Leilao" asp-action="getLeilao" asp-route-id="@leilao.Id" class="btn btn-dark btn-block w-75" style="margin-bottom: 4px; font-size: 11px;" type="submit">TERMINADO</a>
                                            </div>
                                        }


                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
            else
            {
                <p style="color: gray; margin-top: 40px; font-size: 13px; font-weight: bold; letter-spacing: 0.7px;">Não encontramos nenhum produto no seu perfil.</p>
            }
        </div>
</body>

@functions {
    public string CalcularTempoRestante(DateTime dataFinal)
    {
        var agora = DateTime.Now;
        var tempoRestante = dataFinal - agora;

        if (tempoRestante > TimeSpan.Zero)
        {
            // Formatação do tempo restante
            return $"{tempoRestante.Hours:D2}:{tempoRestante.Minutes:D2}:{tempoRestante.Seconds:D2}";
        }
        else
        {
            return "Tempo Encerrado";
        }
    }

    public String AjustarSemiDescricao(String descricao)
    {
        if (descricao.Length > 180)
        {
            return descricao.Substring(0, 180) + "...";
        }
        else
        {
            return descricao;
        }
    }
}