@model List<ProdutoModel>
@{
    ViewData["Tittle"] = "Index";
}

<style>

        .top {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
        }

        .top a {
            background-color: black;
            color: white;
            padding: 8px 8px;
            border-radius: 10px;
        }

        .produto-display{
            border: 1px solid black;
            padding: 5px;
            border-radius: 10px;
        }

</style>

<div class="top">
    <h1>Os Seus Produtos</h1>
    <a asp-controller="Produto" asp-action="CriarProduto">ADICIONAR PRODUTOS +</a>

</div>

@if (Model != null && Model.Any())
{
    @foreach (var produto in Model)
    {
        <div class="produto-display">

            <div class="produto-image">
                <p>@produto.Imagem</p>
            </div>

            <div class="produto-texto">

                <div class="produto-titulo">
                    @produto.Titulo
                </div>
                
                <div class="produto-localizacao">
                    @produto.Localizacao
                </div>

                <div class="produto-descricao">
                    @produto.Descricao
                </div>
            </div>

            <div class="produto-info-preco">

                <div class="produto-preco-base">
                    @produto.PrecoBase
                </div>

                <div class="produto-botao">
                    <button class="btn btn-dark btn-block w-100" type="submit">Iniciar Leilão</button>
                </div>
            </div>


            <p>Preço do Produto: @produto.PrecoBase</p>
        </div>
    }
}
else
{
    <p style="color: gray; margin-top: 40px; font-size: 13px; font-weight: bold; letter-spacing: 0.7px;">Não encontramos nenhum produto no seu perfil.</p>
}