@model Dictionary<ProdutoModel, LeilaoModel>

@{
    ViewData["Tittle"] = "Index";
}

<style>

        .top {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
        }

        .top a {
            background-color: black;
            color: white;
            padding: 8px 8px;
            border-radius: 10px;
        }

        .produto-display{
            border: 2px solid black;
            padding: 5px;
            border-radius: 10px;
            display: flex;
            margin-bottom: 20px;
        }

        .produto-texto{
            margin: 0 20px;
            width: 850px;
        }

        .produto-titulo{
            font-size: 16px;
            font-weight: bold;
        }

        .produto-localizacao{
            font-size: 13px;
        }

        .produto-descricao{
            color: #62676B;
            font-size: 15px;
        }

        .produto-info-preco {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-left: 5px;
            padding-right: 20px;
            width: 40%;
        }

        .teste{
            display: flex;
        }

        .link-leilao {
            transition: color 0.3s ease; 
        }


        .link-leilao:hover {
            text-decoration: underline;
            color: #281A1A;
        }

    .data{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }


</style>

<div class="top" style="margin-bottom: 20px;">
    <h1>Os Seus Produtos</h1>
    <a asp-controller="Produto" asp-action="CriarProduto">ADICIONAR PRODUTOS +</a>
</div>

@if (Model != null)
{
        @foreach (var pair in Model)
        {
            var produto = pair.Key;
            var leilao = pair.Value;

        if (leilao.Status == Online_Auctions_LI4.enums.LeilaoEnum.Espera || leilao.Status == Online_Auctions_LI4.enums.LeilaoEnum.Iniciado)
        {
            @if (CalcularTempoRestante(leilao.DataFinal) != "Tempo Encerrado" || leilao.Status == Online_Auctions_LI4.enums.LeilaoEnum.Espera)

            {
                <div class="produto-display">
                    <div class="produto-image">
                        @if (!string.IsNullOrEmpty(produto.Imagem))
                        {
                            <img src="@Url.Content("~/" + produto.Imagem)" style="width: 150px;height: 120px;" alt="tazonde iamgem">
                        }
                        else
                        {
                            <p>Imagem não encontrada</p>
                        }
                    </div>

                    <div class="teste">
                        <div class="produto-texto">
                            <div class="produto-titulo">
                                <a asp-controller="Leilao" asp-action="getLeilao" asp-route-id="@leilao.Id" class="link-leilao">@produto.Titulo</a>
                            </div>

                            <div class="produto-localizacao">
                                @produto.Localizacao
                            </div>

                            <div class="produto-descricao">
                                @if (AjustarSemiDescricao(produto.Descricao) != null && produto.Descricao.Length > 0)
                                {
                                    @AjustarSemiDescricao(produto.Descricao)
                                }
                            </div>


                        </div>

                        <div class="produto-info-preco">

                            @if (leilao.Status == Online_Auctions_LI4.enums.LeilaoEnum.Espera)
                            {
                                <div class="produto-preco-base" style="font-size: 15px; font-weight: bold; margin-top: 5px;">
                                    Preço Base: @produto.PrecoBase€
                                </div>

                                <form asp-controller="Leilao" asp-action="Iniciar" method="post">
                                    <input type="hidden" name="leilaoId" value="@leilao.Id" />

                                    <div class="data">
                                        <label style="font-size:12px;" for="novaDataFinal">Data de Término do Leilão:</label>
                                        <input style="margin-bottom: 4px; width: 100px;" type="datetime-local" id="novaDataFinal" name="novaDataFinal" required min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")">
                                    </div>
                                   
                                    <div class="butoes" style="display:flex;align-items:center;justify-content:center;">
                                        <div class="produto-botao">
                                            <button class="btn btn-dark btn-block" style="margin-right: 5px;" type="submit">Iniciar Leilão</button>
                                        </div>
                                        <div class="produto-botao">
                                            <a asp-controller="Produto" asp-action="EditarProduto" asp-route-id="@produto.Id" class="btn btn-dark btn-block" type="submit">Editar</a>
                                        </div>
                                    </div>
                                </form>

                            }

                            @if (leilao.Status == Online_Auctions_LI4.enums.LeilaoEnum.Iniciado)
                            {
                                <div class="produto-preco-base" style="font-size: 15px;margin-bottom:8px; margin-top: 5px;">
                                    @if (@leilao.Quantia == @produto.PrecoBase)
                                    {
                                        <p>Lance Atual: --------</p>
                                    }
                                    else
                                    {
                                        <h6 style="font-weight: bold;">Lance Atual: @leilao.Quantia €</h6>
                                    }
                                </div>

                                <div class="produto-preco-base" style="font-size: 10px; margin-bottom: 10px;">
                                    Tempo Restante: @CalcularTempoRestante(leilao.DataFinal)
                                </div>

                                <div class="produto-botao">
                                    <a asp-controller="Leilao" asp-action="getLeilao" asp-route-id="@leilao.Id" class="btn btn-dark btn-block" type="submit">A DECORRER...</a>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            }
        }
            
        }
}
else
{
    <p style="color: gray; margin-top: 40px; font-size: 13px; font-weight: bold; letter-spacing: 0.7px;">Não encontramos nenhum produto no seu perfil.</p>
}

@functions {
    public string CalcularTempoRestante(DateTime dataFinal)
    {
        var agora = DateTime.Now;
        var tempoRestante = dataFinal - agora;

        if (tempoRestante > TimeSpan.Zero)
        {
            if (tempoRestante.TotalDays >= 1)
            {
                return $"{(int)tempoRestante.TotalDays}d {tempoRestante.Hours:D2}:{tempoRestante.Minutes:D2}:{tempoRestante.Seconds:D2}";
            }
            else
            {
                return $"{tempoRestante.Hours:D2}:{tempoRestante.Minutes:D2}:{tempoRestante.Seconds:D2}";
            }
        }
        else
        {
            return "Tempo Encerrado";
        }
    }

    public String AjustarSemiDescricao(String descricao)
    {
        if (descricao.Length > 260)
        {
            return descricao.Substring(0, 260) + "...";
        }
        else
        {
            return descricao;
        }
    }
}